<h2>Shouts</h2>

<div>
  <%= form_for @shout do |form| %>
    <%= form.text_field :body %>
    <%= form.submit "Shout!" %>
  <% end %>
</div>
<h3>Shouts</h3>
<ul>
  <% current_user.timeline.each do |shout| %>
    <li><%= shout.user.email %> - <%= shout.body %></li>
  <% end %>
</ul>
