<h2>Viewing <%= @user.email %>'s profile page</h2>

<%= render "follow_button", user: @user %>

<h3><%= @user.username %> follows:</h3>

<ul>
  <%= render @followed_users %>
</ul>

<h3><%= @user.username%>'s favorite shouts</h3>

<%= render @user.favorited_shouts %>
