<div id="nav">
  <div id="logged-in-nav">
    <div id="logged-in-list">
      <ul>
        <li><%= link_to "SHOUTR", root_path, class:"app-name" %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Followers", followers_path %></li>
        <li><%= link_to "Direct Shouts", direct_shouts_path %></li>
      </ul>
    </div>
    <div id="logged-in-actions">
      <%= link_to "Shout", root_path, id:"shout-link" %>
      <%= link_to "Sign-out", session_path, method: :delete, id:"sign-out-button" %>
      <%= form_tag :search, method: :get, id:"nav-form" do %>
        <%= text_field_tag :query %>
      <%= submit_tag "O", id:"nav-search-button" %>
    <% end %>
    </div>
  </div>
</div>
